:root {
	--pixelperfect-font-mono: "Iosevka SS06", Consolas, monospace;
	--pixelperfect-font-mono-size: 12px;
}

:root var, :root pre, :root pre *,
:root code, :root code *,
:root kbd, :root samp,
.sql-highlight span,
[class*="highlight-source-"] *, .highlight *, .w3-code *,
#code_frame2 *, #code_frame *,
.line-gutter-backdrop + table,
:root .text-mono, :root .text-monospace,
#ublock0-epicker .changeFilter > li, #ublock0-epicker aside > section > div:first-child > textarea
{
	font-family: var(--pixelperfect-font-mono) !important;
	/*font-size: var(--pixelperfect-font-mono-size) !important;*/
}

/* Syntax highlighting */
div.syntaxhighlighter a,div.syntaxhighlighter div,div.syntaxhighlighter code,div.syntaxhighlighter table,div.syntaxhighlighter table td,div.syntaxhighlighter table tr,div.syntaxhighlighter table tbody,div.syntaxhighlighter table thead,div.syntaxhighlighter table caption,div.syntaxhighlighter textarea {
	font-family: var(--pixelperfect-font-mono) !important;
	/*font-size: var(--pixelperfect-font-mono-size) !important;*/
}

/* Monaco code editor */
.monaco-editor * {
	font-family: var(--pixelperfect-font-mono) !important;
	/*font-size: var(--pixelperfect-font-mono-size) !important;*/
}

/* ACE code editor */
.ace_editor {
	font-family: var(--pixelperfect-font-mono) !important;
	/*font-size: var(--pixelperfect-font-mono-size) !important;*/
}

div.crayon-syntax * {
	font-family: var(--pixelperfect-font-mono) !important;
	/*font-size: var(--pixelperfect-font-mono-size) !important;*/
}
